/********************* importing CSS ***************************/
@import "./reset.css";
@import "./colors.css";
@import "./fonts.css";


*{
    scroll-behavior: smooth;
}


.container{
    /* border : 3px solid red;  */
    width : 90%;
    /* max-width : 130rem; */
    margin : auto;
    position : relative;
    /* border : 3px solid red; */
}

nav{
    /* border : 3px solid green; */
    display : flex;
    flex-direction: row;
    align-items : center;
    gap : 2rem;
    padding : 1rem; 
    z-index: 100;
    background-color : var(--background-color);
}

.lib-name a{
    font-family: var(--library-logo-font);
    font-size : 3.5rem;
    /* color : rebeccapurple; */
}

.nav-list ul{
    display: flex;
    flex-direction: row;
    align-items : center;
    gap : 2rem;
    /* border : 3px solid red; */
}

.nav-list ul li{
    font-size: 2rem;
    font-family: var(--nav-list-items-font);
    font-weight: bolder;
    cursor: pointer;
}

/********************** content section of the page  ******************/

main{
    margin-top : 3rem;
    /* border : 3px solid red; */
}
.content-section-container{
    /* border : 3px solid red; */
    display : grid;
    grid-template-areas: "sidebarLeft main-content sidebarRight";
    grid-template-columns: 20rem minmax(0,1fr) 20rem;
    grid-template-rows: 1fr;
}

.active-list-item{
    color : var(--test-color);
}

.aside-left{
    /* border : 3px solid purple; */
    grid-area : sidebarLeft;
}

.content-main-section{
    /* border : 3px solid green; */
    margin : 0 2.5rem;
    grid-area: main-content;
}

.content-main-section h1{
    font-size: 4rem;
    font-family: var(--component-heading-font);
}

.content-main-section h2{
    /* font-size: 4rem; */
    font-family: var(--component-heading-font);
}

.content-main-section p{
    font-size: 2rem;
    font-family: var(--nav-list-items-font);
}

.mb-2{
    margin-bottom: 2rem;
}

.divider{
    border-bottom : 2px solid black;
}

.aside-right{
    /* border : 3px solid yellow; */
    grid-area : sidebarRight;
}

.aside-left-height{
    height : 580px;
}

.moving-container{
    position : fixed;
    overflow-y : auto;
    /* border : 3px solid red; */
}

.txt-align-center{
    text-align: center;
}

.aside-list-container{
    padding : 5px;
    margin-bottom : 10px;
}

.aside-list-container h3{
    font-size : 2.1rem;
    font-family: var(--nav-list-items-font);
    border-bottom : 2px solid black;
    padding : 0.8rem;
    margin-bottom : 0.8rem;
}

.aside-list{
    font-size: 1.8rem;
    font-family: var(--nav-list-items-font);
    margin : 10px 0;
    font-weight : 600;
    padding : 0 0.8rem;
}

.aside-list:hover{
    color : var(--test-color);
}

.aside-right-list .aside-list{
    font-size: 1.6rem;
}

/************************** avatar component documentation styles ********************/

.component-display{
    /* border : 3px solid red; */
    display : flex;
    flex-direction: row;
    align-items : center;
    justify-content : center;
    flex-wrap: wrap;
    gap : 2rem;
    padding : 1.5rem;
    background-color : rgba(102, 51, 153, 0.356);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.component-code-section{
    /* border : 3px solid red; */
    padding : 8px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color :  var(--light-test-color);
}

.code-snippet{
    border-radius : 15px;
}

.code-text{
    background-color :var(--light-test-color);
}









.social-icon{
    display : flex;
    flex-direction: row;
    /* border : 3px solid red; */
    gap : 1rem;
}

.m-left-auto{
    margin-left : auto;
}

.social-icon .nav-icon{
    cursor : pointer;
} 

.connect{
    font-family: var(--homepage-heading-font);
    font-weight: normal;
    font-size : 2rem;
    color : var(--background-color);
}

.component-display-white-background{
    /* border : 3px solid red; */
    text-align: center;
    width : 60%;
    max-width : 54.2rem;
    padding : 1rem;
    background-color : var(--background-color);
    border-radius: 15px;
    /* height : 40rem; */
    /* max-width : 30rem; */
}

.list-component-display{
    display : flex;
    flex-direction: row;
    gap : 5rem;
    /* border : 3px solid red; */
}




/********************** media queries *******************************/
@media screen and (max-width : 600px){
    .social-icon{
        display : none;
    }
    .lib-name a{
        font-size: 3rem;
    }
    .nav-list ul li{
        font-size : 1.8rem;
    }
}

@media screen and (max-width : 700px){
    .container{
        width : 100%;
    }
    /* footer{
        display : block;
    } */
    .main-section{
        margin-top : 5rem;
    }
    .btn-main{
        font-size: 1.6rem;
    }
}

/* .footer-social-icon-container{
    display : flex;
    flex-direction: row;
    gap : 1rem;
} */

/* .footer-icons{
    color : var(--background-color);
} */


/* footer{
    display: none;
} */

/* .footer-container{
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    width : 100%;
    gap : 1.5rem;
    background-color : var(--test-color);
    padding : 0.8rem;
} */