main{
    display : flex;
    align-items : center;
    justify-content : center;  
}

.main-section-home{
    display : flex;
    flex-direction: column;
    margin-top : 15rem;
    gap : 1rem;
    padding : 1.5rem;
}

.main-section-home h1{
    font-family: var(--homepage-heading-font);
    text-align: center;
    font-size : 5rem;
}

.main-section-home h1 span{
    color : var(--test-color);
}

.main-section-home p{
    text-align: center;
    font-size : 2rem;
    font-family: var(--nav-list-items-font);
    color : var(--home-page-desc-color);
}

.btn-section-home{
    display : flex;
    align-items : center;
    justify-content : center;
    margin-top : 1.5rem;
    gap : 1.5rem;
}

.btn-main-home{
    padding : 1.5rem;
    width : 14rem;
    font-size : 2rem;
    border : 3px solid var(--test-color);
    outline: none;
    border-radius: 1rem;
    cursor : pointer;
    background-color: var(--light-test-color);
    
}

.btn-primary-home{
    background-color : var(--test-color);
    color : var(--background-color);
    border : 3px solid var(--test-color);
    cursor : pointer;
    display: flex;
    align-items: center;
    justify-content : center;
    color : var(--temp-bg-color);
}

.btn-flex-container{
    display: flex;
    align-items : center;
    justify-content : center;
}

@media screen and (max-width : 800px){
    .main-section-home h1{
        font-size: 3.5rem;
    }
    .main-section-home p , .btn-main-home{
        font-size: 2.3rem;
    }   
    .main-section-home{
        margin-top : 8rem;
    }
    .btn-main-home{
        font-size : 1.6rem;
    }
}

@media screen and (max-width : 600px){
    .btn-section-home{
        flex-direction: column;
    }
}



@media screen and (max-width : 400px){
    .main-section-home {
        margin-top: 0rem;
    }
    .main-section-home h1{
        font-size: 3rem;
    }
    .main-section-home p{
        font-size: 1.8rem;
    }
}