*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    line-height: 1.5;
    font-size: 1.6rem;
    background-color: var(--background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}