<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../../prism/prism.css">
    <link rel="stylesheet" href="../../CSS/documentation.css">
    <link rel="stylesheet" href="./card.css">
    <script src="../../prism/prism.js" defer></script>
    <title>Card | ZestUI</title>
</head>
<body>
    <!-- <div class="mega-parent-flex-container"> -->
        <div class="container">
            <nav>
                <div class="lib-name">
                    <a href="../../index.html">ZestUI</a>
                </div>
                <div class="nav-list">
                    <ul>
                        <li><a href="../avatar/avatar.html">Docs</a></li>
                        <li><a href="#">Examples</a></li>
                    </ul>
                </div>
                <div class="social-icon m-left-auto">
                    <div class="nav-icon">
                        <a href="https://twitter.com/DipenChavda2" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23z" fill="currentColor"></path></svg>
                        </a>
                    </div>
                    <div class="nav-icon">
                        <a href="https://github.com/dipen2000" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z" fill="currentColor"></path></svg>
                            </a>
                    </div>
                    <div class="nav-icon">
                        <a href="https://www.linkedin.com/in/dipen-chavda-391087189/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z" fill="currentColor"></path></svg>
                        </a>
                    </div>
                </div>
            </nav>
            <main>
                <div class="content-section-container">
                    <aside class="aside-left">
                        <div class="moving-container aside-left-height">
                            <div class="aside-list-container txt-align-center">
                                <ul>
                                    <h3>Get started</h3>
                                    <li class="aside-list"><a href="../../introductory-pages/installation.html">Installation</a></li>
                                    <li class="aside-list"><a href="../../introductory-pages/colors.html">Colors</a></li>
                                </ul>
                            </div>
                            <div class="aside-list-container txt-align-center">
                                <ul>
                                    <h3>Components</h3>
                                    <li class="aside-list"><a href="../avatar/avatar.html">Avatar</a></li>
                                    <li class="aside-list"><a href="../badges/badge.html">Badge</a></li>
                                    <li class="aside-list"><a href="../alert/alert.html">Alert</a></li>
                                    <li class="aside-list"><a href="../button/button.html">Button</a></li>
                                    <li class="aside-list active-list-item"><a href="./card.css">Card</a></li>
                                    <li class="aside-list"><a href="../image/image.html">Image</a></li>
                                    <li class="aside-list"><a href="../input/input.html">Input</a></li>
                                    <li class="aside-list"><a href="../typography/typography.html">Typography</a></li>
                                    <li class="aside-list"><a href="../list/list.html">List</a></li>
                                    <li class="aside-list"><a href="../navigation/navigation.html">Navigation</a></li>
                                    <li class="aside-list"><a href="../modal/modal.html">Modal</a></li>
                                    <li class="aside-list"><a href="../rating/rating.html">Rating</a></li>
                                    <li class="aside-list"><a href="../snackbar/snackbar.html">Snackbar</a></li>
                                    <li class="aside-list"><a href="../Grid/grid.html">Grid</a></li>
                                    <li class="aside-list"><a href="../slider/slider.html">Slider</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <div class="content-main-section">
                        <h1>Card</h1>
                        <p class="mb-2">Cards can be proved very useful. You can use them to display content on an e-commerce app, or on a video library app. You can also use them to show user feedback in the form of text-only card on your site.</p>
                        <div class="divider mb-2"></div>
                        <h2 class="mb-2" id="card-with-badges">Card with badges</h2>
                        <p class="mb-2">This is a card with badge and it is used to show the emphasis on the product like if the product is new or sold out.</p>
                        <section class="component-scetion mb-2">
                            <div class="component-display">
                                <div class="card">
                                    <div class="card-img">
                                        <img class="product-img" src="../../assets/imgs/nike-shoe1.jpg" alt="Nike shoe"/>
                                    </div>
                                    <div class="wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--icon-park-outline" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"><path d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg>
                                    </div>
                                    <div class="card-badge-container">
                                        <div class="card-badge">NEW</div>
                                    </div>
                                    <div class="card-desc">
                                        <div class="card-desc-product-info">
                                            <h3 class="card-desc-brand">NIKE</h3>
                                            <p class="card-desc-product-name">Nike runner</p>
                                        </div>
                                        <div class="card-desc-price-container">
                                            <h4 class="card-desc-price">Rs. 5996</h4>
                                        </div>
                                    </div>
                                    <div class="card-reactions">
                                        <img class="add-to-cart" src="https://api.iconify.design/jam:shopping-cart.svg" alt="add to cart"/>
                                        <img class="share" src="https://api.iconify.design/ic:baseline-share.svg" alt="add to cart"/>
                                    </div>
                                </div>
                            </div>
                            <div class="component-code-section">
                                <script type="text/plain" class="language-markup code-snippet">
                                    <div class="card">
                                        <div class="card-img">
                                            <img class="product-img" src=".." alt=".."/>
                                        </div>
                                        <div class="wishlist">
                                            <svg file for wishlist>
                                        </div>
                                        <div class="card-badge-container">
                                            <div class="card-badge">NEW</div>
                                        </div>
                                        <div class="card-desc">
                                            <div class="card-desc-product-info">
                                                <h3 class="card-desc-brand">NIKE</h3>
                                                <p class="card-desc-product-name">Nike runner</p>
                                            </div>
                                            <div class="card-desc-price-container">
                                                <h4 class="card-desc-price">Rs. 5996</h4>
                                            </div>
                                        </div>
                                        <div class="card-reactions">
                                            <svg file for cart/>
                                            <svg file for share/>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </section>

                        <div class="divider mb-2"></div>
                        <h2 class="mb-2" id="card-with-dismiss">Card with dismiss</h2>
                        <p class="mb-2">This is a card which we can dismiss.</p>
                        <section class="component-scetion mb-2">
                            <div class="component-display">
                                <div class="card card-dismiss">
                                    <button class="card-dismiss-btn m-left-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--fluent" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 12 12"><g fill="none"><path d="M1.897 2.054l.073-.084a.75.75 0 0 1 .976-.073l.084.073L6 4.939l2.97-2.97a.75.75 0 1 1 1.06 1.061L7.061 6l2.97 2.97a.75.75 0 0 1 .072.976l-.073.084a.75.75 0 0 1-.976.073l-.084-.073L6 7.061l-2.97 2.97A.75.75 0 1 1 1.97 8.97L4.939 6l-2.97-2.97a.75.75 0 0 1-.072-.976l.073-.084l-.073.084z" fill="currentColor"></path></g></svg>
                                    </button>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, nulla veritatis maiores quod laborum culpa qui velit quibusdam id tenetur!</p>
                                </div>
                            </div>
                            <div class="component-code-section">
                                <script type="text/plain" class="language-markup code-snippet">
                                    <div class="card card-dismiss">
                                        <button class="card-dismiss-btn m-left-auto">
                                            <svg file for icon</svg>
                                        </button>
                                        <p>random text</p>
                                    </div>
                                </script>
                            </div>
                        </section>

                        <div class="divider mb-2"></div>
                        <h2 class="mb-2" id="card-with-text-overlay">Card with text overlay</h2>
                        <p class="mb-2">This is a card with text over the card.</p>
                        <section class="component-scetion mb-2">
                            <div class="component-display">
                                <div class="card card-overlay">
                                    <div class="card-img">
                                        <img class="product-img" src="../../assets/imgs/nike-shoe1.jpg" alt="Nike shoe"/>
                                    </div>
                                    <div class="wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--icon-park-outline" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"><path d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg>
                                    </div>
                                    <div class="card-badge-container">
                                        <div class="card-badge">NEW</div>
                                    </div>
                                    <div class="card-desc card-desc-overlay">
                                        <div class="card-desc-product-info">
                                            <h3 class="card-desc-brand">NIKE</h3>
                                            <p class="card-desc-product-name">Nike runner</p>
                                        </div>
                                        <div class="card-desc-price-container">
                                            <h4 class="card-desc-price">Rs. 5996</h4>
                                        </div>
                                    </div>
                                    <div class="card-reactions">
                                        <img class="add-to-cart" src="https://api.iconify.design/jam:shopping-cart.svg" alt="add to cart"/>
                                        <img class="share" src="https://api.iconify.design/ic:baseline-share.svg" alt="add to cart"/>
                                    </div>
                                </div>
                            </div>
                            <div class="component-code-section">
                                <script type="text/plain" class="language-markup code-snippet">
                                    <div class="card card-overlay">
                                        <div class="card-img">
                                            <img class="product-img" src=".." alt=".."/>
                                        </div>
                                        <div class="wishlist">
                                            <svg file for icon></svg>
                                        </div>
                                        <div class="card-badge-container">
                                            <div class="card-badge">NEW</div>
                                        </div>
                                        <div class="card-desc card-desc-overlay">
                                            <div class="card-desc-product-info">
                                                <h3 class="card-desc-brand">NIKE</h3>
                                                <p class="card-desc-product-name">Nike runner</p>
                                            </div>
                                            <div class="card-desc-price-container">
                                                <h4 class="card-desc-price">Rs. 5996</h4>
                                            </div>
                                        </div>
                                        <div class="card-reactions">
                                            <svg class="add-to-cart" src=".." alt=".."/>
                                            <svg class="share" src=".." alt=".."/>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </section>

                        <div class="divider mb-2"></div>
                        <h2 class="mb-2" id="text-only-cards">Text only card</h2>
                        <p class="mb-2">This is a text only card.</p>
                        <section class="component-scetion mb-2">
                            <div class="component-display">
                                <div class="card text-only-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, nulla veritatis maiores quod laborum culpa qui velit quibusdam id tenetur!</p>
                                </div>
                            </div>
                            <div class="component-code-section">
                                <script type="text/plain" class="language-markup code-snippet">
                                    <div class="card text-only-card">
                                        <p>random text</p>
                                    </div>
                                </script>
                            </div>
                        </section>   
                        
                        <div class="divider mb-2"></div>
                        <h2 class="mb-2" id="horizontal-card">Horizontal card</h2>
                        <p class="mb-2">This is a horizontal card.</p>
                        <section class="component-scetion mb-2">
                            <div class="component-display">
                                <div class="card horizontal-card-container">
                                    <div class="wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--icon-park-outline" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"><path d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg>
                                    </div>
                                    <div class="horizontal-card-flex">
                                        <div class="card-img card-horizontal">
                                            <img class="product-img" src="../../assets/imgs/nike-shoe1.jpg" alt="Nike shoe"/>
                                        </div>
                                        <div class="card-desc">
                                            <div class="card-desc-product-info">
                                                <h3 class="card-desc-brand">NIKE</h3>
                                                <p class="card-desc-product-name">Nike runner</p>
                                            </div>
                                            <div class="card-desc-price-container">
                                                <h4 class="card-desc-price">Rs. 5996</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-reactions">
                                        <img class="add-to-cart" src="https://api.iconify.design/jam:shopping-cart.svg" alt="add to cart"/>
                                        <img class="share" src="https://api.iconify.design/ic:baseline-share.svg" alt="add to cart"/>
                                    </div>
                                </div>
                            </div>
                            <div class="component-code-section">
                                <script type="text/plain" class="language-markup code-snippet">
                                    <div class="card horizontal-card-container">
                                        <div class="wishlist">
                                            <svg file for wishlist</svg>
                                        </div>
                                        <div class="horizontal-card-flex">
                                            <div class="card-img card-horizontal">
                                                <img class="product-img" src=".." alt=".."/>
                                            </div>
                                            <div class="card-desc">
                                                <div class="card-desc-product-info">
                                                    <h3 class="card-desc-brand">NIKE</h3>
                                                    <p class="card-desc-product-name">Nike runner</p>
                                                </div>
                                                <div class="card-desc-price-container">
                                                    <h4 class="card-desc-price">Rs. 5996</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-reactions">
                                            <svg file for cart/>
                                            <svg file for share>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </section>

                        <div class="divider mb-2"></div>
                        <h2 class="mb-2" id="card-with-shadow">Card with shadow</h2>
                        <p class="mb-2">This is a card with shadow.</p>
                        <section class="component-scetion mb-2">
                            <div class="component-display">
                                <div class="card card-with-shadow">
                                    <div class="card-img">
                                        <img class="product-img" src="../../assets/imgs/nike-shoe1.jpg" alt="Nike shoe"/>
                                    </div>
                                    <div class="wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--icon-park-outline" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"><path d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"></path></svg>
                                    </div>
                                    <div class="card-badge-container">
                                        <div class="card-badge">NEW</div>
                                    </div>
                                    <div class="card-desc">
                                        <div class="card-desc-product-info">
                                            <h3 class="card-desc-brand">NIKE</h3>
                                            <p class="card-desc-product-name">Nike runner</p>
                                        </div>
                                        <div class="card-desc-price-container">
                                            <h4 class="card-desc-price">Rs. 5996</h4>
                                        </div>
                                    </div>
                                    <div class="card-reactions">
                                        <img class="add-to-cart" src="https://api.iconify.design/jam:shopping-cart.svg" alt="add to cart"/>
                                        <img class="share" src="https://api.iconify.design/ic:baseline-share.svg" alt="add to cart"/>
                                    </div>
                                </div>
                            </div>
                            <div class="component-code-section">
                                <script type="text/plain" class="language-markup code-snippet">
                                    <div class="card card-with-shadow">
                                        <div class="card-img">
                                            <img class="product-img" src=".." alt=".."/>
                                        </div>
                                        <div class="wishlist">
                                            <svg file for wishlist>
                                        </div>
                                        <div class="card-badge-container">
                                            <div class="card-badge">NEW</div>
                                        </div>
                                        <div class="card-desc">
                                            <div class="card-desc-product-info">
                                                <h3 class="card-desc-brand">NIKE</h3>
                                                <p class="card-desc-product-name">Nike runner</p>
                                            </div>
                                            <div class="card-desc-price-container">
                                                <h4 class="card-desc-price">Rs. 5996</h4>
                                            </div>
                                        </div>
                                        <div class="card-reactions">
                                            <svg file for cart/>
                                            <svg file for share/>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </section>
                        
                    </div>
                    <aside class="aside-right">
                        <div class="moving-container">
                        <div class="aside-list-container aside-right-list">
                            <ul>
                                <h3>On this page</h3>
                                <li class="aside-list"><a href="#card-with-badges">Card with badges</a></li>
                                <li class="aside-list"><a href="#card-with-dismiss">Card with dismiss</a></li>
                                <li class="aside-list"><a href="#card-with-text-overlay">Card with text overlay</a></li>
                                <li class="aside-list"><a href="#text-only-cards">Text only cards</a></li>
                                <li class="aside-list"><a href="#horizontal-card">Horizontal card</a></li>
                                <li class="aside-list"><a href="#card-with-shadow">Card with shadow</a></li>
                            </ul>
                        </div>
                        </div>
                    </aside>
                </div>
            </main>
        </div>
</body>
</html>