.card{
    border-radius: 1rem;
    position: relative;
    width : 22rem;
    background-color: var(--temp-bg-color);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.19), 0 0.6rem 0.6rem rgba(0,0,0,0.23);
}

.card-desc-product-info{
    padding : 1rem;
}

.card-desc-product-name{
    padding-top : 0.5rem;
    color : var(--stone-500);
}

.card-desc-price-container{
    padding : 0 1rem 1rem 1rem;
}

.card-reactions{
    display: flex;
    justify-content : flex-end;
    align-items : center;
    padding :1rem;
}

.card-desc-brand{
    color : var(--dark-gray);
    font-family: var(--component-heading-font);
}

.card-desc-price{
    color : var(--dark-gray);
    font-family: var(--component-heading-font);
}

.card-img{
    height : 28rem;
    width : 100%;
    position: relative;
}
.product-img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.add-to-cart{
    width : 2.5rem;
    height : 2.5rem;
    margin : 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

.share{
    width : 2rem;
    height : 2rem;
    margin : 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

.wishlist{
    position: absolute;
    top : 1rem;
    right : 1rem;
    width : 2.5rem;
    height : 2.5rem;
}

.wishlist svg{
    width : 100%;
    height : 100%;
    cursor: pointer;
}

.wishlist svg:hover{
    color : var(--status-dnd);
}

.card-badge-container{
    position: absolute;
    top : 1rem;
    left : 0;
    background-color : var(--card-badge-bg-color);
    width : 30%;
}

.card-badge{
    font-size: 1.6rem;
    color : var(--white);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/************************* card with dismiss ************************/

.card-dismiss{
    display : flex;
    flex-direction: column;
    width : 30rem;
    padding : 0.8rem;
}

.card-dismiss p{
    color : var(--dark-gray);
}

.card-dismiss-btn{
    border : 0;
    outline : 0;
    padding : 0.5rem;
    background-color: var(--temp-bg-color);
    cursor: pointer;
}

/***************************** card with text overlay ***********************/
.card-overlay{
    width : 40rem;
    height : 33rem;
}

.card-desc-overlay{
    position : absolute;
    top : 5rem;
    left : 0;
}

/******************* text only card  *****************/

.text-only-card{
    width : 40rem;
    padding : 0.8rem;
}

.text-only-card p{
    color : var(--dark-gray);
}

/********************************** horizontal card ********************/

.horizontal-card-container{
    width : 35rem;
}

.card-horizontal{
    height : 15rem;
    width : 15rem;
    position: relative;
}

.horizontal-card-flex{
    display: flex;
    flex-direction: row;
}

/********************************** card with shadow  *****************************/

.card-with-shadow{
    box-shadow: 0.5rem 0.5rem 0.5rem var(--dark-gray);
}
